* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #000000; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.container {
    background:#221f1f;
    padding: 28px 48px;
    border-radius:20px;
    text-align: center;
    width: 350px;
}

h2 {
    font-weight:700 ;
    letter-spacing: 1px;
    color: #e6e6e6;
    margin-bottom: 10px;
    font-size: 30px;
}

p {
    margin-top: 15px;
    color: #b5b5b5;
    font-size: 14px;
}

button {
    margin-top: 18px;
    padding: 12px 20px;
    background: #ffffff;
    border: 1px solid #2d2d2d;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;
    color: #000000;
    transition: 0.22s ease;
}

button:hover {
    background: #000000;
    border-color: #ffffff;
    color: white;
    transform: scale(1.03);
}
